[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
werkzeug = "*"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
djongo = "*"
boto3 = "*"
django-storages = "*"

[requires]
python_version = "3.7"
